################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Appv2/bin
/Appv2/obj
/.vs/KoC/v16/Server/sqlite3
